.chat-main
  .chat-main__group-info
    .chat-main__group-name
      = @group.name
      .chat-main__group-member
        Member:
        - @group.users.each do |user|
          = user.name
    .chat-main__edit-btn
      =link_to "Edit", edit_group_path(@group)
  .message-list
    =render @messages
  .chat-main__message-form
    .post-box
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'